{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Home{% endblock %}

{% block body %}
    <div class="w-100 h-100">
        <div class="home-bg"></div>
    </div>
    <div id="tricks" class="container p-5">
        <div class="row">
        {% for trick in tricks %}
            <div class="col-lg-4 mb-4">              
                <div class="card">
                    <a href="{{ path('trick_show', {'id': trick.id}) }}"><img class="card-img-top" src="/images/{{ trick.image }}" alt="Trick"></a>
                    <div class="card-body">
                        <a class="btn btn-outline-info btn-sm trick-link" href="{{ path('trick_show', {'id': trick.id}) }}">{{ trick.title }}</a>
                    </div>
                </div>               
            </div>     
        {% endfor %}    
        </div>           
    </div>
{% endblock %}
