{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Home{% endblock %}

{% block body %}
    <div class="w-100 h-100">
        <div class="home-bg"></div>
    </div>
    <div class="container-fluid">
    </div>
{% endblock %}
