html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo {
    max-height: 40px;
}

/* Home Image */

.home-bg {
    background-image: url('/images/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
}

.slogan {
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.slogan-p {
    align-self: flex-start;
    font-family: 'Shadows Into Light', cursive;
}

.chevron-down {
    position: absolute;
    right: 0.5%;
    bottom: 0%;
}

.cup {
    position: relative;
}

.chevron-up {
    position: absolute;
    right: 0.5%;
    bottom: 0%;
}

.tricks-anchor {
    /* Anchor and fixed navbar */
    display: block;
    height: 98.75px;
    margin-top: -98.75px;
    visibility: hidden;
}

/* End */

footer {
    background-color: #1a1a1a;
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}

/* Tricks Cards */

.card {
    box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px #5a61690f, 0 7px 70px rgba(90, 97, 105, 0.1);
    border-radius: 0.625rem;
}

.card-img-top {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.card-img-top.home {
    height: 12rem;
}

.trick-link {
    font-weight: 900;
    font-size: 0.765625rem;
    border-radius: 0.625rem;
}

.change-link {
    font-size: 0.60rem;
    color: #1F9BCF;
}

/* End */

/* Trick */

.trick-data {
    font-size: 0.8rem;
}

.list-inline-item:not(:first-child) {
    margin-left: 0.5rem;
}

.no-medias {
    border: 2px solid grey;
}

.no-medias>p {
    color: grey;
}

/* End */

/* Carousel */

div.carousel div.carousel-item>img {
    width: 100%;
    height: 18.75rem;
}

div.carousel div.carousel-item>iframe {
    width: 100%;
    height: 18.75rem;
    border: 0;
    display: block;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ccc;
}

.carousel-inner {
    margin-bottom: 50px;
    border-radius: 0.625rem;
    box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px #5a61690f, 0 7px 70px rgba(90, 97, 105, 0.1);
}

.carousel-control-prev,
.carousel-control-next {
    top: 55px;
    bottom: 55px;
}

ol {
    margin: 0;
}

/* End */

/* Enlarge Image  */

.enlarge.clic-image {
    transform: scale(2, 2);
    z-index: 100;
}

/* End */

/* Load More Function */

div.trick {
    display: none;
}

#loadLessTrick {
    display: none;
}

/* End */

/* Sign in Page */

.login {
    margin-top: 12rem;
    margin-bottom: 3rem;
}

/* End */

/* Registration Page */

.registration {
    margin-top: 12rem;
    margin-bottom: 3rem;
}