<html>
    <body>
        <!-- Start Forgot Password Mail-->
        <h3>Demande de réinitialisation du mot de passe</h3>

        Bonjour {{ username }} ! 
        <br>
        Vous avez demandé à réinitialiser votre mot de passe, si ce n'est pas le cas veuillez ignorer cet email.
        <br>
        Veuillez cliquer sur le lien ci-dessous copiez le dans la barre d'adresse de votre navigateur pour réinitialiser votre mot de passe :
        <br>
        {{adress}}/reset-password?id={{id}}&token={{token}}
        <br>
        Cordialement,

        <h3>Snowtricks.<h3>
        <!-- Start Forgot Password Mail-->
    </body>
</html>