<html>
    <body>
        <!-- Start Confirmation Mail-->
        <h3>Félicitations, vous êtes enregistrés chez Snowtricks !</h3>

        Bonjour {{ username }} ! 
        <br>
        Il ne manque plus qu'une dernière étape avant de confirmer votre compte.
        <br>
        Veuillez cliquer sur le lien ci-dessous ou copiez le dans la barre d'adresse de votre navigateur, votre compte sera validé et vous pourrez vous connecter :
        <br>
        {{address}}/confirm?id={{id}}&token={{token}}
        <br>
        Cordialement,

        <h3>Snowtricks.<h3>
        <!-- End Confirmation Mail -->
    </body>
</html>